
<h1> Challenges to Solve </h1>

<% @challenges.each do |challenge| %>
    <h2> Brand Name  <span> <%= challenge.brand.name %></span> </h2> 
    <h2>Challenge Title: <span>  <%= challenge.title %></span> </h2> 

    <h2>Challenge Discription: <span>  <%= challenge.body %></span> </h2> 

    <div>
    <%=image_tag(challenge.image ,size: "200x200")  if challenge.image.attached?%>
    </div>
    <div>
    <%=video_tag(url_for(challenge.video ),  size: "200x200", controls: true) if challenge.video.attached?%>
    </div>
    <h2>Prize: <span>  <%= challenge.prize %> $</span> </h2> 
     <h2> Expiry Date & Time: <span> <%= challenge.expiry_date %> </span> </h2> 

  
    <li><%= link_to "Attempt", new_trick_path(:id => challenge.id) %></li> 
      </br>
    </br>


<% end %>