
<h1> Challenges </h1>
<ul>
<% @challenges.each do |challenge| %>

       <div> <strong> Brand Name: </strong>
             <%=  challenge.brand.name %>
        </div>
        <div> <strong> Challenge Title:  </strong>
         <%=  challenge.title %> 
             
        </div>
           
        <div> <strong> Prize:  </strong>
         <%=  challenge.prize %> $
             
        </div>

         <div> <strong> Expiry Date :  </strong>
             <%= challenge.expiry_date.to_formatted_s(:short)  %>
             
        </div>

        <div>  <strong> Challenge Discription: </strong>
             <%= challenge.body %>
              <div>
               <%=image_tag(challenge.image ,size: "200x200")  if challenge.image.attached?%>
               <%=video_tag(url_for(challenge.video ),  size: "200x200", controls: true) if challenge.video.attached?%>
               </div>
        </div>
        </br>
        <%= link_to "Attempt", new_trick_path(:id => challenge.id), :class => "btn btn-primary" %>

        </br>
        </br>



<% end %>
</ul>