<h1> Give reward to users</h1>
<ul>
  <% @tricks.each do |trick| %>
  

            <%= trick.challenge.title %>
             </br>
            
            <%= trick.body %>
                </br>

            <%= trick.customer.email %>
                </br>
             <div>
            <%=image_tag(trick.image ,size: "200x200")  if trick.image.attached?%>
            </div>
            <div>
            <%=video_tag(url_for(trick.video ),  size: "200x200", controls: true) if trick.video.attached?%>
            </div>


          <li><%= link_to "Reward This User", rewards_give_rewards_path(:trick_id =>  trick.id,:challenge_id => trick.challenge.id) %></li> 



</br>
 </br>

  <% end %>
</ul>

