<h1>Create  Challenge</h1>

<%= form_with model: @challenge do |form| %>
  <div>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :Body %><br>
    <%= form.text_area :body %><br>
  </div>
    <div>
    <%= form.label :Prize %><br>
    <%= form.number_field :prize %><br>
  </div>
  

 <div>
    <%= form.label :Expiry_Date %><br>
    <%= form.datetime_field :expiry_date %><br>
  </div>  




  <div>
    <%= form.submit %>
  </div>
<% end %>