<h1>Create  Challenge</h1>

<%= form_with model: @challenge do |form| %>
  <div>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
    <%= @challenge.errors.full_messages_for(:title).each do |message| %>
     <div><%= message %></div>
     <% end %>
  </div>

  <div>
    <%= form.label :Body %><br>
    <%= form.text_area :body %><br>
    <%= @challenge.errors.full_messages_for(:body).each do |message| %>
     <div><%= message %></div>
    <% end %>
  </div>
    <div>
    <%= form.label :Prize %><br>
    <%= form.number_field :prize %><br>
    <%= @challenge.errors.full_messages_for(:prize).each do |message| %>
     <div><%= message %></div>
    <% end %>

  </div>
  

 <div>
    <%= form.label :Expiry_Date %><br>
    <%= form.datetime_field :expiry_date %><br>
    <%= @challenge.errors.full_messages_for(:expiry_date).each do |message| %>
     <div><%= message %></div>
    <% end %>
  </div>  

   <div>
    <%= form.label :Image %><br>
    <%= form.file_field :image %><br>
  </div>
   <div>
    <%= form.label :Video %><br>
    <%= form.file_field :video %><br>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>