
        <div> <strong> Challenge Title:  </strong>
         <%=  @challenge.title %> 
             
        </div>
           
        <div> <strong> Prize:  </strong>
         <%=  @challenge.prize %> $
             
        </div>

         <div> <strong> Expiry Date :  </strong>
             <%= @challenge.expiry_date.to_formatted_s(:short) %>
             
        </div>

        <div>  <strong> Challenge Discription: </strong>
             <%= @challenge.body %>
              <div>
               <%=image_tag(@challenge.image ,size: "200x200")  if @challenge.image.attached?%>
               <%=video_tag(url_for(@challenge.video ),  size: "200x200", controls: true) if @challenge.video.attached?%>
               </div>
        </div>
 
 <li><%= link_to "Edit", edit_challenge_path(@challenge) %></li> 

  <li><%= link_to "Destroy", challenge_path(@challenge),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>