<h1><%= @challenge.title %></h1>

<p><%= @challenge.body %></p>

<div>
<%=image_tag(@challenge.image ,size: "200x200") if @challenge.image.attached?%>
</div>
<div>
<%=video_tag(url_for(@challenge.video ),  size: "200x200", controls: true) if @challenge.video.attached?%>
</div>
<ul>
 
 <li><%= link_to "Edit", edit_challenge_path(@challenge) %></li> 

  <li><%= link_to "Destroy", challenge_path(@challenge),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>